/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
}

header, section {
    padding: 10px;
}

p, li {
    line-height: 1.5em;
}


#inspiration {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}